exercises/*.dcm
exercises/volume/*
exercises/spleen_data/*
projects/hippocampus_volume/data/*
*/.ipynb_checkpoints


projects/pulse_rate_algorithm/passed.png
projects/pulse_rate_algorithm/unit_test.pdf
projects/pulse_rate_algorithm/*.zip


projects/pneumonia_detection/Build_and_train_model_udacity_default.ipynb


projects/EHR_diabetes_drug_testing/EHR_SLiao.zip
projects/EHR_diabetes_drug_testing/student_project.html
projects/EHR_diabetes_drug_testing/student_utils.py
projects/EHR_diabetes_drug_testing/utils.py
